{% assign author = site.data.members[post.author] %}
{% assign isMain = include.main %}


<article class="newsPost{% if isMain %} mainArticle{% endif %}">
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <div class="post-meta">
        {% if post.postThumb %}
        {{ post.postThumb }}
        {% endif %}
        <span class="author">{{ post.date | date_to_long_string }}, by <a rel="author" href="/members/{{ post.author }}" title="{{ author.name }}">{{ author.name }}</a></span>
    </div>
    <div class="post-content">
        {% include news_excerpt.html %}
        <p><a href="{{ post.url }}">Read more...</a></p>
        <div class="tagged">
            <p id="post-meta">Posted {{ category_content }}{{ tags_content }}</p>
        </div>
    </div>
</article>
