<h3>Vacancies</h3>
<ul class="vacancies">
    <li>
        <a href="https://www.purplebricks.com/join-the-team/xamarin-mobile-developer">Xamarin Mobile Developer</a>
        <span>posted 01/12/2016</span>
    </li>
    <li>
        <a href="https://www.purplebricks.com/join-the-team/z5-automation-test-engineer">Automation Test Engineer</a>
        <span>posted 01/12/2016</span>
    </li>
    <li>
        <a href="https://www.purplebricks.com/join-the-team/z5-devops-engineer">DevOps Engineer</a>
        <span>posted 01/12/2016</span>
    </li>
    <li>
        <a href="https://www.purplebricks.com/join-the-team/z5-front-end-developer">Front End Developer</a>
        <span>posted 01/12/2016</span>
    </li>
    <li>
        <a href="https://www.purplebricks.com/join-the-team/z5-manual-test-engineer">Manual Test Engineer</a>
        <span>posted 01/12/2016</span>
    </li>
    <li>
        <a href="https://www.purplebricks.com/join-the-team/z5-senior-web-developer">Senior Web Developer</a>
        <span>posted 01/12/2016</span>
    </li>
</ul>
