<h3>Vacancies</h3>
<ul class="vacancies">
    <li>
        <a href="https://www.purplebricks.com/jointheteam/seniorwebdeveloper">Senior Web Developer</a>
        <span>posted 18/03/2015</span>
    </li>
    <li>
        <a href="https://www.purplebricks.com/jointheteam/juniorwebdeveloper">Junior Web Developer</a>
        <span>posted 18/03/2015</span>
    </li>
    <li>
        <a href="https://www.purplebricks.com/jointheteam/webdeveloper">Web Developer</a>
        <span>posted 19/08/2015</span>
    </li>
    <li>
        <a href="https://www.purplebricks.com/jointheteam/frontenddeveloper">Front End Developer</a>
        <span>posted 19/08/2015</span>
    </li>
    <li>
        <a href="https://www.purplebricks.com/jointheteam/automationtester">Automation Tester</a>
        <span>posted 19/08/2015</span>
    </li>
    <li>
        <a href="https://www.purplebricks.com/jointheteam/thirdlinehelpdesk">3rd Line Helpdesk</a>
        <span>posted 19/08/2015</span>
    </li>
    <li>
        <a href="https://www.purplebricks.com/jointheteam/softwareguardiantester">Software Guardian Tester</a>
        <span>posted 19/08/2015</span>
    </li>
</ul>
