<h3>Vacancies</h3>
<ul class="vacancies">
    <li>
        <a href="https://www.purplebricks.com/jointheteam/seniorwebdeveloper">Senior Web Developer</a>
        <span>posted 18/03/2015</span>
    </li>
    <li>
        <a href="https://www.purplebricks.com/jointheteam/midwebdeveloper">Mid Web Developer</a>
        <span>posted 18/03/2015</span>
    </li>
    <li>
        <a href="https://www.purplebricks.com/jointheteam/juniorwebdeveloper">Junior Web Developer</a>
        <span>posted 18/03/2015</span>
    </li>
    <li>
        <a href="https://www.purplebricks.com/jointheteam/datadeveloper">Data Developer</a>
        <span>posted 18/03/2015</span>
    </li>
</ul>