@import 'customBootstrap/variables';
@import '../bootstrap/stylesheets/bootstrap/variables';
@import '../bootstrap/stylesheets/bootstrap/mixins';
@import "../../../../_sass/pygments";
$imageCdnRoot : "https://az713861.vo.msecnd.net/web-images";


@mixin clearfix {
    &:before, &:after { content: ""; display: table; }
    &:after { clear: both; }
    *zoom: 1;
}

html,
body {
  height: 100%;
}

body {
    //margin-top: -22px;
    overflow-x: hidden;
    position: relative;
    -webkit-font-smoothing: antialiased;
}
b,
strong {
  font-weight: 700;
}
#wrap {
  min-height: 100%;
  height: auto;
}
a[href^=tel] {
    color: inherit;
    text-decoration: none!important;
}
pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
  code {
      white-space: pre;
  }
}
.mobileLeft {
    @include square(100%);
    background: $gray-dark;
    overflow: auto;
    padding: 0;
    position: fixed;
    top: 45px;
    display: none;
    z-index: 0;
    transform: translateZ(0);
    &.mOpenSmall {
        display: block;
    }
    li {
        border-bottom: 1px solid lighten($gray-base, 40%);
        list-style-type:square;
        color: $brand-secondary;
        &+li {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &:before {
            position: absolute;
            top: 18px;
            left: 5px;
            content: "";
            @include square(5px);
            background: $brand-secondary;
            z-index: 1;
        }
        &:after {
            position: absolute;
            bottom: 0;
            content: "";
            @include size(100%, 1px);
            background: $gray-base;
        }
        a {
            padding: 10px 15px 10px 25px;
        }
        a:focus, a:hover {
            color: $body-bg;
            background-color: $brand-primary;
        }
    }
    a {
        color: lighten($gray-base, 50%);
    }
}
.master {
    position: relative;
    height: 100%;
    left: 0;
    padding: 0;
    &.mOpen {
        z-index: -1;
    }
    .masterContainer {
        padding-top: 45px;
        padding-bottom: 50px;
        > .row:last-child {
            padding-bottom: 0;
        }
        > .row.noPadding {
            padding-bottom: 0;
        }
    }
}
.locked {overflow: hidden;}
.mobileBg {
    display: none;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    @include size(100%, 45px);
    @include opacity(0);
    z-index: 9999;
    cursor: pointer;
}
.mOpen .mobileBg {
    display: block;
}
.navToggle {
    position: relative;
    float: left;
    margin-right: 7px;
    @include square(45px);
    background-color: $gray-dark;
    border: 0;
    outline: 0;
    transition: background-color 0.3s ease;
    transform: translateZ(0);
    .icon-bar {
        background-color: #fff;
        @include center-block();
        @include size(20px, 2px);
        border-radius: 1px;
        transition: all 0.3s ease;
        position: absolute;
        left: 50%;
        margin-left: -10px;
        top: 16px;
    }
    .b2 {
        top: 21px;
    }
    .b3 {
        top: 26px;
    }
}
.mOpen .navToggle {
    z-index: 10000;
    background-color: $brand-secondary;
    transition: background-color 0.3s ease;
    .b3 {
        @include opacity(0);
    }
    .icon-bar {
        transition: all 0.3s ease;
    }
    .b1 {
        top: 21px;
        transform: rotate(45deg);
    }
    .b2 {
        transform: rotate(-45deg);
    }
}
#header {
    @include size(100%, 45px);
    margin-bottom: $line-height-computed/2;
    padding: 0;
    background: $body-bg;
    border-bottom: 1px solid $brand-primary;
    > .container {
        padding: 0;
    }
    .logo {
        display: block;
        @include size(35px, 33px);
        text-indent: -9999px;
        margin: 6px 0 0 0;
        @include img-retina("#{$imageCdnRoot}/marketingWebsite/global/siteCore@1x-p8-2.png", "#{$imageCdnRoot}/marketingWebsite/global/siteCore@2x-p8-3.png", 243px, 225px);
    }
}
.intoPic {
    padding-bottom: $line-height-computed;
    margin-bottom: $line-height-computed;
    border-bottom: 1px solid #bbb;
    p {
        color: $brand-primary;
        font-weight: 400;
        font-size: $font-size-h2;
        margin: 0;
    }
}
.selectWrap {
    background: $body-bg;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc;
    select {
        background: transparent;
        width: 125%!important;
        -webkit-appearance: none;
        z-index: 1;
        position: relative;
        box-shadow: none;
    }
    &:after {
        content: "";
        @include square(15px);
        content: '\f0d7';
        font-family: FontAwesome;
        position: absolute;
        right: 5px;
        top: 10px;
    }
}
.meta {
    margin-bottom: $line-height-computed/2;
}

.widget {
    border-bottom: 1px solid #ccc;
    padding-bottom: $line-height-computed/2;
    margin-bottom: $line-height-computed/2;
    h3 {
        font-size: ceil($font-size-large * 0.9);
        margin-top: 0;
        font-weight: bold;
        text-transform: uppercase;
    }
    ul {
        list-style-type: none;
        padding-left: 0;
        a {
            text-decoration: underline;
            color: $gray-dark;
            &:hover {
                text-decoration: none;
            }
        }
        li + li {
            margin-top: $line-height-computed/2;
        }
        &.vacancies {
            li span {
                display: block;
                font-size: $font-size-small;
            }
        }
    }
}

.newsPost {
    h2 {
        margin-top: 0;
        font-size: $font-size-large;
        a {
            color: $gray-base;
        }
    }
    .post-meta {
        margin-bottom: $line-height-computed/2;
    }
    & + .newsPost {
        padding-top: $line-height-computed/2;
        border-top: 1px solid #bbb;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .mobileLeft {
        top: 75px;
        li {
            &:before {
                top: 35px;
            }
            a {
                padding: 23px 15px 23px 25px;
                font-size: 20px;
            }
        }
    }
    .master {
        .masterContainer {
            padding-top: 75px;
        }
    }
    .mobileBg {
        height: 75px;
    }
    .navToggle {
        margin-right: 15px;
        @include square(75px);
        .icon-bar {
            @include size(44px, 5px);
            border-radius: 2px;
            margin-left: -22px;
            top: 22px;
        }
        .b2 {
            top: 35px;
        }
        .b3 {
            top: 48px;
        }
    }
    .mOpen .navToggle {
        .b1 {
            top: 35px;
        }
    }
    #header {
        margin-bottom: $line-height-computed;
        @include size(100%, 75px);
        > .container {
            width: 100%;
        }
        .logo {
            @include size(200px, 42px);
            background-position: 0 -175px;
            margin: 17px 0 0 0;
        }
        .btn-lg {
           background:#f9845b;
           border: 0;
           padding: 5px 16px;
           font-size: 18px;
           height: auto;
           margin: 20px 20px 0;
           text-shadow: none;
           border-radius: 5px;
           border-bottom: 0; 
            .fa {
                color:#fff;
            }
        }
        .btn-info {
            padding: 5px 16px;
            font-size: 18px;
            line-height: 1.33;
            background: #1fabde;
        }
        .btn-login {
            @include size(35px, 33px);
            margin: 20px 0 0 0;
            background-position: -58px -8px;
        }
        .btn {
            margin-top: 20px;
        }
    }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .master {
        .masterContainer {
            padding-top: 125px;
            padding-bottom: 60px;
            > .row {
                padding-bottom: 60px;
            }
            > .row:last-child {
                padding-bottom: 0;
            }
        }
    }
    #header {
        border-bottom: 0;
        height: 130px;
        > .container {
            width: 920px;
        }
        .navbar {
            margin-top: 16px;
            border-radius: 0;
            border-left: 0;
            border-right: 0;
        }
        .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
            color: $brand-primary;
            font-weight: 600;
            background-color: transparent;
        }
        .navbar .container {
            width: 940px;
        }
        .navbar-default {
            border-top: 2px solid $brand-primary;
            background-color: #eaeaea;
        }
        .navbar-nav {
            width: 840px;
            float: none;
            margin: 0 auto;
            > li > a {
                text-transform: uppercase;
            }
        }
        .dropdown-menu > li > a {
            padding: 6px 20px;
        }
        .nav > li > a {
            padding-left: 10px;
            padding-right: 10px;
        }
        .dropdown-menu > li > a:hover, 
        .dropdown-menu > li > a:focus {
            color: $brand-secondary;
        }
    }
   .intoPic {
       height: 250px;
       background: url('../images/techGuy.png') no-repeat 50% 50%;
       p {
           display: none;
       }
   }
   .contentLeft {
        border-right: 1px solid #ccc;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    #header {
        > .container {
            width: 1170px;
        }
        .navbar .container {
            width: 1020px;
        }
        .navbar-nav {
            width: 970px;
        }
        .nav > li > a {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    
}