---
layout: default
comments: true
---

{% assign author = site.authors[page.author] %}
<div class="post">
    <div class="meta">
        <span class="author">{{ page.date | date_to_long_string }}, by {{ author.display_name }}</span>
    </div>
    {{ content }}
    <hr />
    {% if page.comments %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
    var disqus_shortname = 'purplebricks';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
    {% endif %}
</div>

{% include JB/setup %}
